<div class="header">
<header>
<a href="#"><img src="../assets/logo.jpg" alt=""></a>
</header>  
<a href="#" target="_blank" rel="noopener noreferrer" class="anclas">Home</a>
<a href="#" target="_blank" rel="noopener noreferrer" class="anclas">Menu</a>
<a href="#" target="_blank" rel="noopener noreferrer" class="anclas">About</a>
<a href="#" target="_blank" rel="noopener noreferrer" class="anclas">Contact</a>
<div class="busqueda">
  <input type="text" name="" id="barra" placeholder="Search">
  <img src="../assets/lupa.png" alt="">
</div>
<input type="button" value="log in" id="idLogin">
<input type="button" value="sign up" id="idSingUp">
</div>
<div>
</div>

<app-main></app-main>
